# Python-related files
__pycache__/
*.py[cod]
*.pyo
*.pyd
.python-version
.tox/
.coverage
.hypothesis/
.pytest_cache/

# Jupyter Notebook files
.ipynb_checkpoints/

# Virtual Environment folders
venv/
.env/
.venv/

# Docker-related files
.dockerignore
*.dockerfile
docker-compose.override.yml
*.log

# Database files
*.db
*.sqlite
*.pgsql
*.bak
*.dump

# AWS or sensitive keys (ensure you replace with your own keys in `.env` and .gitignore them)
.env
AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY

# Compiled files
*.o
*.a
*.out

# System files
.DS_Store
Thumbs.db

# Git files
.gitmodules
